<div class="contacts" id="contacts">
    <div class="contacts-container">
        <div class="contacts-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><h2>Наши контакты:</h2></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="contacts-container--content">
            <div class="contacts-container--left">
                <div class="contacts-main-image">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Acede9a5d498debc5f67f1a8d370cbb5e62fe5729f973a8486033f94f10e82340&amp;source=constructor" width="555" height="275" frameborder="0"></iframe>
                    <div class="contacts-frame">
                        <img src="./assets/contacts-frame.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts-container--right">
                <div class="contacts-info">
                    <div class="contacts-info-content">
                        <div>
                            <img src="./assets/contacts-icon-1.png" alt="">
                        </div>
                        <div>
                            <p>Адрес: Московская область, Одинцовский городской округ, село Юдино, Можайское шоссе, 55б, стр.2</p>
                        </div>
                    </div>
                    <div class="contacts-info-content">
                        <div>
                            <img src="./assets/contacts-icon-2.png" alt="">
                        </div>
                        <div>
                            <p><a href="tel:+79778827705">Телефон: +7 (977) 882-77-05</a></p>
                        </div>
                    </div>
                    <div class="contacts-info-content">
                        <div>
                            <img src="./assets/contacts-icon-3.png" alt="">
                        </div>
                        <div>
                            <p>
                                График:
                                <br>
                                Пн-вс 10:00 – 23:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>