<div class="contacts" id="contacts">
    <div class="contacts-container">
        <div class="contacts-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div>
                <p>
                    Наши контакты
                </p>
            </div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="contacts-container--content">
            <div class="contacts-container--left">
                <div class="contacts-main-image">
                    <img src="./assets/contacts-first-img.png" alt="">
                    <div class="contacts-frame">
                        <img src="./assets/contacts-frame.png" alt="">
                    </div>
                </div>
            </div>
            <div class="contacts-container--right">
                <div class="contacts-info">
                    <div class="contacts-first">
                        <div>
                            <img src="./assets/contacts-icon-1.png" alt="">
                        </div>
                        <div>
                            <p>Адрес: Московская область, Одинцовский городской округ, село Юдино, Можайское шоссе, 55б, стр.2</p>
                        </div>
                    </div>
                    <div class="contacts-second">
                        <div>
                            <img src="./assets/contacts-icon-2.png" alt="">
                        </div>
                        <div>
                            <p>Телефон: +7 111 111 11 11</p>
                        </div>
                    </div>
                    <div class="contacts-third">
                        <div>
                            <img src="./assets/contacts-icon-3.png" alt="">
                        </div>
                        <div>
                            <p>
                                График:
                                <br>
                                Пн-вс 10:00 – 23:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>