<div class="about" id="about">
    <div class="about-container">
        <div class="about-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><p>О нас</p></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="about-container--content">
            <div class="about-container--left">
                <div class="about-img">
                    <img src="./assets/about-img.png" alt="">
                    <div class="about-frame">
                        <img src="./assets/about-frame.png" alt="">
                    </div>
                </div>
            </div>
            <div class="about-container--right">
                <div class="about-text">
                    <p>
                        Мир ускорился...
                        <br>
                        Современный человек постоянно куда-то спешит...
                        <br>
                        Пришло время замедлиться и отдохнуть.
                    </p>
                    <p>Richmond - это больше, чем просто ресторан с вкусной кухней и хорошим обслуживанием. Richmond - это место, где можно отдохнуть душой и обрести гармонию, которой так не хватает в современном темпе жизни.</p>
                    <p>У нас вы сможете одинаково хорошо провести тихий романтический ужин и отметить семейное торжество.</p>
                    <p>Мы уверены - вы захотите вернуться вновь.</p>
                </div>
                <div class="about-sign">
                    <p>
                        Всегда вам рады,
                        <br>
                        С любовью, Richmond
                    </p>
                </div>
                <div class="about-icons">
                    <div class="icon-container">
                        <div class="icon-container--icon"><img src="./assets/about-icon-1.png" alt=""></div>
                        <div class="icon-container--text"><p>Блюда европейской, кавказской и русской кухни</p></div>
                    </div>
                    <div class="icon-container">
                        <div class="icon-container--icon"><img src="./assets/about-icon-2.png" alt=""></div>
                        <div class="icon-container--text">
                            <p>
                                Роскошный
                                <br>
                                банкетный зал
                                <br>
                                до 200 чел
                            </p>
                        </div>
                    </div>
                    <div class="icon-container">
                        <div class="icon-container--icon"><img src="./assets/about-icon-3.png" alt=""></div>
                        <div class="icon-container--text"><p>Готовим навынос, работает доставка</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>