<div class="hotel" id="hotel">
    <div class="hotel-container">
        <div class="hotel-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div>
                <h2>
                    Отель
                </h2>
            </div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="hotel-container--content">
            <div class="hotel-container--left">
                <div class="hotel-main-image">
                    <img src="./assets/hotel-img-1-min.png" alt="банкетные залы для свадьбы" (click)="open(0)">
                    <div class="hotel-frame">
                        <img src="./assets/banquet-first-frame.png" alt="">
                    </div>
                </div>
                <div class="hotel-lil-images">  
                    <div class="hotel-lil-image"><img src="./assets/hotel-img-2-min.png" alt="кафе свадьба" (click)="open(1)"></div>
                    <div class="hotel-lil-image"><img src="./assets/hotel-img-3-min.png" alt="ресторан свадьба" (click)="open(2)"></div>
                    <div class="hotel-lil-image"><img src="./assets/hotel-img-4-min.png" alt="банкет ресторан" (click)="open(3)"></div>
                </div>
            </div>
            <div class="hotel-container--right">
                <div class="hotel-text">
                    <div class="hotel-text--first">
                        <p>В шаговой доступности от нашего ресторана находится отель "Такт", где вы сможете насладиться здоровым сном и комплексом SPA.</p>
                    </div>
                    <div class="hotel-text--second">
                        <p>В отеле 25 комфортабельных номеров со всеми удобствами, для гостей есть сауна и бассейн.</p>
                    </div>
                </div>
                <div class="hotel-icons">
                    <div class="icon-container">
                        <div><img src="./assets/hotel-icon-1.png" alt=""></div>
                        <div class="icon-container--text"><p>Дарим скидку х% на проживание в отеле</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>