<div class="banquet" id='banquet'>
    <div class="banquet-container">
        <div class="banquet-container--header">
            <div><img src="./assets/banq-header-line.png" alt=""></div>
            <div><h2>Банкетный зал</h2></div>
            <div><img src="./assets/banq-header-line.png" alt=""></div>
        </div>
        <div class="banquet-container--content">
            <div class="hall-title">
                <h3>Изысканный интерьер для проведения незабываемых мероприятий</h3>
                <h4>Зал на 120 человек</h4>
            </div>

            <div class="banquet-first-hall">
                <div class="banquet-container--left">
                    <div class="banquet-main-image">
                        <img src="./assets/banquet-first-img.png" alt="">
                        <div class="banquet-frame">
                            <img src="./assets/banquet-first-frame.png" alt="">
                        </div>
                    </div>
                    <div class="banquet-lil-images">
                        <div class="banquet-lil-image"><img src="./assets/banq-lil-1.png" alt=""></div>
                        <div class="banquet-lil-image"><img src="./assets/banq-lil-2.png" alt=""></div>
                        <div class="banquet-lil-image"><img src="./assets/banq-lil-3.png" alt=""></div>
                    </div>
                </div>
                <div class="banquet-container--right">
                    <div class="banquet-text">
                        <p>
                            Описание зала
                            <br>
                            - отдельный вход
                            <br>
                            - гардеробная комната
                            <br>
                            - большой холл для встречи гостей
                            <br>
                            - фуршетная зона
                            <br>
                            - фотозона
                            <br>
                            - большой танцпол
                            <br>
                            - сцена
                            <br>
                            - профессиональное световое и звуковое оборудование
                        </p>
                    </div>
                    <div class="banquet-btn">
                        <button class="btn-booking" data-modal="Забронировать"><img src="./assets/btn-booking.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>