<div class="banquet" id='banquet' aria-label="банкетные залы для свадьбы банкетный залы москва рестораны банкетные залы">
    <div class="banquet-container">
        <div class="banquet-container--header">
            <div><img src="./assets/banq-header-line.png" alt=""></div>
            <div><h2>Банкетный зал</h2></div>
            <div><img src="./assets/banq-header-line.png" alt=""></div>
        </div>
        <div class="banquet-container--content">
            <div class="hall-title">
                <h3>Изысканный интерьер для проведения незабываемых мероприятий</h3>
                <h4>Зал на 120 человек</h4>
            </div>

            <div class="banquet-first-hall">
                <div class="banquet-container--left">
                    <div class="banquet-main-image">
                        <img src="./assets/banquet-img-1-min.png" alt="ресторан свадьба" (click)="open(0)">
                        <div class="banquet-frame">
                            <img src="./assets/banquet-first-frame.png" alt="">
                        </div>
                    </div>
                    <div class="banquet-lil-images">
                        <div class="banquet-lil-image"><img src="./assets/banquet-img-2-min.png" alt="рестораны банкетные залы" (click)="open(1)"></div>
                        <div class="banquet-lil-image"><img src="./assets/banquet-img-3-min.png" alt="банкетные залы для свадьбы" (click)="open(2)"></div>
                        <div class="banquet-lil-image"><img src="./assets/banquet-img-4-min.png" alt="банкетный залы москва" (click)="open(3)"></div>
                    </div>
                </div>
                <div class="banquet-container--right">
                    <div class="banquet-text">
                        <p>
                            - отдельный вход
                            <br>
                            - гардеробная комната
                            <br>
                            - большой холл для встречи гостей
                            <br>
                            - фуршетная зона
                            <br>
                            - фотозона
                            <br>
                            - большой танцпол
                            <br>
                            - сцена
                            <br>
                            - профессиональное световое и звуковое оборудование
                        </p>
                    </div>
                    <div class="banquet-btn">
                        <button class="btn-booking" (click)="openDialogHall()" data-modal="Забронировать"><img src="./assets/btn-booking.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>