.banquet {
    height: 759px;
    width: 100%;
    background: center / cover no-repeat url('./../../../assets/banquet-bg.png');

    @media (max-width: 1270px) {
        height: 100%;
    }

    .banquet-container {
        color: #000;
        width: 1225px;
        margin: auto;

        @media (max-width: 1270px) {
            width: 98%;
        }

        .banquet-container--header {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                img {
                    margin-top: 67px;

                    @media (max-width: 905px) {
                        margin-top: 33px;
                    }

                    @media (max-width: 767px) {
                        width: 90px;
                    }

                    @media (max-width: 425px) {
                        width: 60px;
                    }
                }
            }

            div {
                h2 {
                    font-size: 42px;
                    font-weight: 700;
                    padding: 54px 5px 2px;
                    text-align: center;

                    @media (max-width: 1023px) {
                        font-size: 38px;
                    }

                    @media (max-width: 905px) {
                        font-size: 30px;
                        padding: 24px 10px 2px;
                    }

                    @media (max-width: 767px) {
                        font-size: 26px;
                    }
                    
                    @media (max-width: 425px) {
                        font-size: 20px;
                    }
                }
            }
        }

        .banquet-container--content {
            text-align: center;

            .hall-title {
                
                h3 {
                    font-size: 22px;
                    font-weight: 700;

                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }

                h4 {
                    font-size: 22px;
                    font-weight: 700;
                    margin: 20px auto;

                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }

            .banquet-first-hall {
                display: flex;
            
                @media (max-width: 1023px) {
                    flex-direction: column;
                    align-items: center;
                }
            
                .banquet-container--left {
                    display: flex;
            
                    .banquet-main-image {
                        position: relative;
                        z-index: 2;
            
                        img {
                            z-index: 2;
                            cursor: pointer;
                        }
            
                        .banquet-frame {
                            position: absolute;
                            z-index: -1;
                            top: 15px;
                            left: 15px;
                        }
                    }
            
                    @media (max-width: 1270px) {
                        width: 48vw;
                        padding-left: 15px;
            
                        .banquet-main-image {
                            img {
                                width: 330px;
                            }
                        }
                    }
            
                    @media (max-width: 1023px) {
                        justify-content: center;
                        padding-left: 0;
                    }
            
                    @media (max-width: 532px) {
                        flex-direction: column;
                        align-items: center;
            
                        .banquet-main-image {
                            img {
                                width: 300px;
                            }
                        }
                    }
            
                    @media (max-width: 424px) {
                        .banquet-main-image {
                            img {
                                width: 250px;
                            }
                        }
                    }
            
                    .banquet-lil-images {
                        @media (max-width: 532px) {
                            display: flex;
                        }

                        img {
                            cursor: pointer;
                        }
                        
                        .banquet-lil-image {
                            margin: 0px 26px 13px 50px;
            
                            @media (max-width: 1270px) {
                                margin-left: 25%;
            
                                img {
                                    width: 107px;
                                }
                            }
            
                            @media (max-width: 532px) {
                                margin: 20px 10px;
                                img {
                                    width: 105px;
                                }
                            }
            
                            @media (max-width: 424px) {
                                margin: 20px 5px;
                                img {
                                    width: 90px;
                                }
                            }
                        }
                    }
                }
            
                .banquet-container--right {
                    width: 480px;
            
                    @media (max-width: 1270px) {
                        width: 48vw;
                    }
            
                    @media (max-width: 1023px) {
                        width: 614px;
                    }
            
                    @media (max-width: 767px) {
                        width: 98%;
                    }
            
                    .banquet-text {
                        text-align: start;
            
                        p {
                            font-size: 22px;
                            font-weight: 400;
                            margin-bottom: 31px;
            
                            @media (max-width: 1270px) {
                                font-size: 20px;
                            }
            
                            @media (max-width: 650px) {
                                font-size: 16px;
                                margin-bottom: 5px;
                            }
            
                            @media (max-width: 350px) {
                                width: 98%;
                            }
                        }
                    }
            
                    .banquet-btn {
                        text-align: end;

                        @media (max-width: 767px) {
                            text-align: center;
                          }
                  
                        .btn-booking {
                          max-width: 278px;
                          max-height: 53px;
                          margin: auto;
                          padding: 0;
                          margin-top: 25px;
                          border: none;
                          font: inherit;
                          color: inherit;
                          background-color: transparent;
                          cursor: pointer;
            
                          img {
                              width: 100%;
                          }
                  
                          @media (max-width: 1242px) {
                            margin-top: 0;
                            margin-bottom: 44px;
                            width: 90%;
                  
                            img {
                              width: 100%;
                              height: 100%;
                            }
                          }
                  
                          @media (max-width: 1064px) {
                            width: 291px;
                          }
                  
                          @media (max-width: 905px) {
                            width: 270px;
                          }
                  
                          @media (max-width: 768px) {
                            width: 250px;
                          }
            
                          @media (max-width: 650px) {
                            margin: 15px 0;
                          }
                        }
                    }
                }
            }
        }
    }
}