<div class="gallery" id="gallery">
    <div class="gallery-container">
        <div class="gallery-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><h2>Галерея</h2></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="gallery-container--content">
            <div class="gallery-title">
                <h3>Приходите к нам насладиться отличной музыкой и изысканными блюдами</h3>
            </div>
            <div class="gallery-slider">
                <div *ngIf="value === 'gallery-nav1'" class="gallery-images">
                    <ngx-gallery [options]="galleryOptions" NgxGalleryImageSize='contain' [images]="galleryImages">
                        <div class="post-1">
                            <img src="./assets/gallery-img-1.png" alt="">
                        </div>
                        <div class="post-2">
                            <img src="./assets/gallery-img-2.png" alt="">
                        </div>
                        <div class="post-3">
                            <img src="./assets/gallery-img-3.png" alt="">
                        </div>
                        <div class="post-4">
                            <img src="./assets/gallery-img-4.png" alt="">
                        </div>
                        <div class="post-5">
                            <img src="./assets/gallery-img-5.png" alt="">
                        </div>
                        <div class="post-6">
                            <img src="./assets/gallery-img-6.png" alt="">
                        </div>
                    </ngx-gallery>
                </div>
                <div *ngIf="value === 'gallery-nav2'" class="gallery-images">
                    <div class="post-1">
                        <img src="./assets/gallery-img-7.jpg" alt="">
                    </div>
                    <div class="post-2">
                        <img src="./assets/gallery-img-8.jpg" alt="">
                    </div>
                    <div class="post-3">
                        <img src="./assets/gallery-img-12.jpg" alt="">
                    </div>
                    <div class="post-4">
                        <img src="./assets/gallery-img-10.jpg" alt="">
                    </div>
                    <div class="post-5">
                        <img src="./assets/gallery-img-11.jpg" alt="">
                    </div>
                    <div class="post-6">
                        <img src="./assets/gallery-img-9.jpg" alt="">
                    </div>
                </div>
                <div *ngIf="value === 'gallery-nav3'" class="gallery-images">
                    <div class="post-1">
                        <img src="./assets/gallery-img-13.jpg" alt="">
                    </div>
                    <div class="post-2">
                        <img src="./assets/gallery-img-14.jpg" alt="">
                    </div>
                    <div class="post-3">
                        <img src="./assets/gallery-img-18.jpg" alt="">
                    </div>
                    <div class="post-4">
                        <img src="./assets/gallery-img-15.jpg" alt="">
                    </div>
                    <div class="post-5">
                        <img src="./assets/gallery-img-17.jpg" alt="">
                    </div>
                    <div class="post-6">
                        <img src="./assets/gallery-img-16.jpg" alt="">
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="nav-first">
                        <input type="radio" id="gallery-nav1" name="gallery-nav" value="gallery-nav1" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav1">
                            <div class="label-icon"><span>1</span></div>
                        </label>
                    </div>
                    <div class="nav-second">
                        <input type="radio" id="gallery-nav2" name="gallery-nav" value="gallery-nav2" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav2">
                            <div class="label-icon"><span>2</span></div>
                        </label>
                    </div>
                    <div class="nav-third">
                        <input type="radio" id="gallery-nav3" name="gallery-nav" value="gallery-nav3" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav3">
                            <div class="label-icon"><span>3</span></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>