<div class="gallery" id="gallery">
    <div class="gallery-container">
        <div class="gallery-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><h2>Галерея</h2></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="gallery-container--content">
            <div class="gallery-title">
                <h3>Приходите к нам насладиться отличной музыкой и изысканными блюдами</h3>
            </div>
            <div class="gallery-slider">
                <div *ngIf="value === 'gallery-nav1'" class="gallery-images">
                    <div class="post-1">
                        <img src="./assets/gallery-img-1-min.jpg" alt="ресторан свадьба" (click)="open(0)" />
                    </div>
                    <div class="post-2">
                        <img src="./assets/gallery-img-2-min.jpg" alt="кафе свадьба" (click)="open(1)" />
                    </div>
                    <div class="post-3">
                        <img src="./assets/gallery-img-3-min.jpg" alt="банкет ресторан" (click)="open(2)" />                        
                    </div>
                    <div class="post-4">
                        <img src="./assets/gallery-img-4-min.jpg" alt="банкетный залы москва" (click)="open(3)" />                        
                    </div>
                    <div class="post-5">
                        <img src="./assets/gallery-img-5-min.jpg" alt="ресторан свадьба" (click)="open(4)" />                        
                    </div>
                    <div class="post-6">
                        <img src="./assets/gallery-img-6-min.jpg" alt="банкетные залы для свадьбы" (click)="open(5)" />                        
                    </div>
                </div>
                <div *ngIf="value === 'gallery-nav2'" class="gallery-images">
                    <div class="post-1">
                        <img src="./assets/gallery-img-7-min.jpg" alt="банкет ресторан"  (click)="open(6)">
                    </div>
                    <div class="post-2">
                        <img src="./assets/gallery-img-8-min.jpg" alt="ресторан свадьба"  (click)="open(7)">
                    </div>
                    <div class="post-3">
                        <img src="./assets/gallery-img-12-min.jpg" alt="рестораны банкетные залы"  (click)="open(11)">
                    </div>
                    <div class="post-4">
                        <img src="./assets/gallery-img-10-min.jpg" alt="банкетные залы для свадьбы"  (click)="open(9)">
                    </div>
                    <div class="post-5">
                        <img src="./assets/gallery-img-11-min.jpg" alt="кафе свадьба"  (click)="open(10)">
                    </div>
                    <div class="post-6">
                        <img src="./assets/gallery-img-9-min.jpg" alt="банкет ресторан"  (click)="open(8)">
                    </div>
                </div>
                <div *ngIf="value === 'gallery-nav3'" class="gallery-images">
                    <div class="post-1">
                        <img src="./assets/gallery-img-13-min.jpg" alt="банкетный залы москва"  (click)="open(12)">
                    </div>
                    <div class="post-2">
                        <img src="./assets/gallery-img-14-min.jpg" alt="ресторан свадьба"  (click)="open(13)">
                    </div>
                    <div class="post-3">
                        <img src="./assets/gallery-img-18-min.jpg" alt="ресторан свадьба"  (click)="open(17)">
                    </div>
                    <div class="post-4">
                        <img src="./assets/gallery-img-15-min.jpg" alt="кафе свадьба"  (click)="open(14)">
                    </div>
                    <div class="post-5">
                        <img src="./assets/gallery-img-17-min.jpg" alt="банкетный залы москва"  (click)="open(16)">
                    </div>
                    <div class="post-6">
                        <img src="./assets/gallery-img-16-min.jpg" alt="рестораны банкетные залы"  (click)="open(15)">
                    </div>
                </div>
                <div class="slider-nav">
                    <div class="nav-first">
                        <input type="radio" id="gallery-nav1" name="gallery-nav" value="gallery-nav1" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav1">
                            <div class="label-icon"><span>1</span></div>
                        </label>
                    </div>
                    <div class="nav-second">
                        <input type="radio" id="gallery-nav2" name="gallery-nav" value="gallery-nav2" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav2">
                            <div class="label-icon"><span>2</span></div>
                        </label>
                    </div>
                    <div class="nav-third">
                        <input type="radio" id="gallery-nav3" name="gallery-nav" value="gallery-nav3" [(ngModel)]="value">
                        <label class="btn-gallery" for="gallery-nav3">
                            <div class="label-icon"><span>3</span></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>