<header>
    <div class="header-container">
        <a href="#">
            <div class="header-logo"><img src="./assets/icon-rich.png" alt=""></div>
        </a>
        <nav>   
            <input class="toggle" id="toggle-btn" type="checkbox">
            <label for="toggle-btn"><div class="img"></div></label>
            <ul>
                <li><a href="#about"> О нас</a></li>
                <li><a href="#banquet">Банкетный зал</a></li>
                <li><a href="#menu">Меню</a></li>
                <li><a href="#hotel">Отель и SPA-комплекс</a></li>
                <li><a href="#poster">Афиша</a></li>
                <li><a href="#gallery">Галерея</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="phones">
            <div class="phones-icon">
                <img src="./assets/icon-phone-header.png" alt="">
            </div>
            <div class="phones-number">+7 111 111 11 11</div>
            <div class="address-icon">
                <a href="#contacts">
                    <div class="address-icon-flex"><img src="./assets/icon-address-header.png" alt="address"></div>
                </a>
            </div>
            <div class="address-text">
                <p>
                    Одинцовский городской округ, село Юдино, Можайское шоссе, 55б, стр.2
                </p>
            </div>
        </div>
    </div>
</header>