header {
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 10;

    @media (max-width: 1242px) {
        height: 60px;
        top: 0;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        width: 1242px;
        margin: auto;
        height: 60px;

        @media (max-width: 1242px) {
            width: 100%;
        }
        
        a {
            text-decoration: none;
            color: #fff;

            .header-logo {
                display: flex;
                align-items: center;
                margin-left: 7px;

                @media (max-width: 1242px) {
                    margin-left: 15px;
                }
            }
        }

        nav {
            margin-right: 250px;

            @media (max-width: 1023px) {
                width: 0;
                height: 0;
                margin-right: 0;
            }

            // .contacts-menu {
            //     display: none;
            // }
            
            label {
                .img {
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                    visibility: hidden;
                    display: none;
                    background: url(./../../../assets/menu-icon-open.png) no-repeat;
                    background-size: 100%;
                    background-position: center;
                    margin: 10px;
                    position: absolute;
                    top: 0;
                    right: 0;

                    @media (max-width: 1023px) {
                        display: block;
                        visibility: visible;
                    }
                }
            }

            .toggle {
                width: 40px;
                height: 40px;
                visibility: hidden;
                display: none;

                @media (max-width: 1023px) {
                    &~ul {
                        transform: translateX(-100%);
                        flex-direction: column;
                        text-align: end;
                    }
                }

                &:checked~label {
                    .img {
                        height: 20px;
                        width: 20px;
                        background: url(./../../../assets/menu-icon-close.png) no-repeat;
                        background-size: 100%;
                        background-position: center;
                        margin-top: 20px;
                        margin-right: 20px;
                    }
                }
            
                &:checked~ul {
                    display: block;
                    position: relative;
                    z-index:3;
                    color: #fff;
                    background-color: #000;
                    font-weight: 800;
                    width: 100%;

                    @media (min-width: 1024px) {
                        display: flex;
                    }

                    @media (max-width: 1023px) {
                        transform: translateX(0);
                        transition: 0.4s;
                        position: absolute;
                        top: 60px;
                        right: 0;
                        text-align: start;
                        flex-direction: column;
                        height: 100vh;

                        li {
                            font-size: 40px;
                            padding: 30px 5px 25px;
                        }
                    }

                    @media (max-width: 767px) {
                        li {
                            padding: 16px 5px 15px;
                        }
                    }

                    @media (max-width: 459px) {
                        li {
                            font-size: 28px;
                            padding: 12px 5px 10px;
                        }
                    }

                    @media (max-width: 330px) {
                        li {
                            font-size: 24px;
                        }
                    }
                }
            }

            ul {
                display: flex;
                list-style: none;

                @media (min-width: 1024px) {
                    display: flex;
                    flex-direction: row;
                }

                li {
                    font-size: 14px;
                    padding: 5px;
                    letter-spacing: 1px;
                    line-height: 14px;

                    &:first-child::before, &:last-child::before {
                        display: none;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        margin-left: -5px;
                        width: 1px;
                        height: 14px;
                        background-color: #8A8479;

                        @media (max-width: 1023px) {
                            display: none;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: #8A8479;
                        font-weight: 400;

                        &:focus, &:hover {
                            color: #fff;
                        }
                    }
                }

                .info-for-mobile {
                    .for-mobile {
                        display: none;
            
                        @media (max-width: 1023px) {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            width: 95%;
                            margin-right: 0;
                        }
            
                            p {
                                font-size: 18px;
                                font-weight: 300;
                                margin-bottom: 5px;
                                line-height: 20px;
                                letter-spacing: 0;

                                a {
                                    font-weight: 300;
                                    text-decoration: none;
                                    color: #fff;
                                }

                                @media (max-width: 459px) {
                                    font-size: 16px;
                                }
            
                                @media (max-width: 330px) {
                                    font-size: 14px;
                                }
                            }
            
                        .contacts-info-content {
                            display: flex;
                            align-items: center;
                            
                            img {
                                width: 40px;
                                height: 40px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        .phones {
            display: flex;
            align-items: center;

            @media (max-width: 1023px) {
                display: none;
            }

            .phones-icon {
                margin: 0 7px;
                display: flex;
                align-items: center;
            }

            .phones-number {
                font-size: 20px;
                font-weight: 700;
                margin-right: 20px;
            }

            .address-icon {
                display: none;
                
                @media (max-width: 1242px) {
                    display: block;
                    margin-right: 15px;
                    
                    a {
                        .address-icon-flex {
                            display: flex;
                            align-items: center;

                            img {
                                height: 22px;
                            }
                        }
                    }
                }
            }

            .address-text {
                width: 246px;

                p {
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17.7px;
                }

                @media (max-width: 1242px) {
                    display: none;
                }
            }
        }

        .reload {
            border: none;
            padding: 10px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: rgb(58, 116, 0);
            color: #fff;
        }
    }
}

