<header>
    <div class="header-container">
        <a href="#">
            <div class="header-logo"><img src="./assets/icon-rich.png" alt=""></div>
        </a>
        <nav>   
            <input (change)='onNavToggle()' [checked]='navOpened' class="toggle" id="toggle-btn" type="checkbox">
            <label for="toggle-btn"><div class="img"></div></label>
            <ul (click)="handleClick($event)">
                <!-- <li><a href="#about"> О нас</a></li> -->
                <li><a href="#banquet">Банкетный зал</a></li>
                <li><a href="#menu">Меню</a></li>
                <li><a href="#hotel">Отель</a></li>
                <!-- <li><a href="#poster">Афиша</a></li> -->
                <li><a href="#gallery">Галерея</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li class="info-for-mobile">
                    <div class="for-mobile">
                        <div class="contacts-info">
                            <div class="contacts-info-content">
                                <div>
                                    <img src="./assets/contacts-icon-1.png" alt="">
                                </div>
                                <div>
                                    <p>Адрес: Московская область, Одинцовский городской округ, село Юдино, Можайское шоссе, 55б, стр.2</p>
                                </div>
                            </div>
                            <div class="contacts-info-content">
                                <div>
                                    <img src="./assets/contacts-icon-2.png" alt="">
                                </div>
                                <div>
                                    <p><a href="tel:+79778827705">Телефон: +7 (977) 882-77-05</a></p>
                                </div>
                            </div>
                            <div class="contacts-info-content">
                                <div>
                                    <img src="./assets/contacts-icon-3.png" alt="">
                                </div>
                                <div>
                                    <p>
                                        График:
                                        <br>
                                        Пн-вс 12:00 – 23:00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>



        <div class="phones">
            <div class="phones-icon">
                <img src="./assets/icon-phone-header.png" alt="">
            </div>
            <div class="phones-number"><a href="tel:+79778827705">+7 (977) 882-77-05</a></div>
            <div class="address-icon">
                <a href="#contacts">
                    <div class="address-icon-flex"><img src="./assets/icon-address-header.png" alt="address"></div>
                </a>
            </div>
            <div class="address-text">
                <p>
                    Одинцовский городской округ, село Юдино, Можайское шоссе, 55б, стр.2
                </p>
            </div>
        </div>
    </div>
</header>