<div class="hero" aria-label="банкет ресторан">
    <div class="hero-container">
        <div class="hero-logo">
            <img src="./assets/hero-logo.png" alt="">
        </div>
        <div class="hero-text">
            <h1>Приходите к нам,<br> чтобы отдохнуть душой</h1>
        </div>
      <div class="hero-btn">
        <button (click)="openDialog()" class="btn-booking" data-modal="Забронировать"><img src="./assets/btn-booking.png" alt="рестораны банкетные залы"></button>
      </div>
    </div>
</div>