<div class="hero" aria-label="банкет ресторан">
    <div class="hero-container">
        <div class="hero-logo">
            <img src="./assets/hero-logo.png" alt="">
        </div>
        <div class="hero-text">
          <div class="hero-icons">
            <div class="icon-container">
              <div class="icon-container--icon"><img src="./assets/about-icon-2.png" alt=""></div>
              <div class="icon-container--text"><p>Роскошный банкетный зал</p></div>
              <div class="icon-container--description"><span>cвадьбы, дни рождения, корпоративы и другие праздники</span></div>
            </div>
            <div class="icon-container">
                <div class="icon-container--icon"><img src="./assets/about-icon-1.png" alt=""></div>
                <div class="icon-container--text"><p>Большое меню</p></div>
                <div class="icon-container--description"><span>блюда европейской, кавказской <br> и русской кухни</span></div>
            </div>
            <div class="icon-container">
                <div class="icon-container--icon"><img src="./assets/about-icon-3.png" alt=""></div>
                <div class="icon-container--text"><p>Работает доставка</p></div>
                <div class="icon-container--description"><span>оставляем заказы через <br> <a href="https://www.delivery-club.ru/srv/richmond_moskva_vd?vendorCategoriesQuery=-2"><u>Delivery Club</u></a></span></div>
            </div>
        </div>
        </div>
      <div class="hero-btn">
        <button (click)="openDialog()" class="btn-booking" data-modal="Забронировать"><img src="./assets/btn-booking.png" alt="рестораны банкетные залы"></button>
      </div>
    </div>
</div>