<div class="banquet-first-hall">
    <div class="banquet-container--left">
        <div class="banquet-main-image">
            <img src="./assets/banquet-first-img.png" alt="">
            <div class="banquet-frame">
                <img src="./assets/banquet-first-frame.png" alt="">
            </div>
        </div>
        <div class="banquet-lil-images">
            <div class="banquet-lil-image"><img src="./assets/banq-lil-1.png" alt=""></div>
            <div class="banquet-lil-image"><img src="./assets/banq-lil-2.png" alt=""></div>
            <div class="banquet-lil-image"><img src="./assets/banq-lil-3.png" alt=""></div>
        </div>
    </div>
    <div class="banquet-container--right">
        <div class="banquet-text">
            <p>Описание зала 1orem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione sapiente assumenda sunt et fuga, maxime libero quae totam ex vitae ullam facere blanditiis eligendi labore consectetur voluptates vel natus a porro voluptate. Ex, sint alias obcaecati recusandae suscipit ipsam fuga iusto accusamus provident minus omnis ipsum quod, quas, repudiandae odio exercitationem voluptatum sed. Lorem</p>
        </div>
        <div class="banquet-btn">
            <button class="btn-booking" data-modal="Забронировать"><img src="./assets/btn-booking.png" alt=""></button>
        </div>
    </div>
</div>