.banquet-first-hall {
    display: flex;

    @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
    }

    .banquet-container--left {
        display: flex;

        .banquet-main-image {
            position: relative;
            z-index: 2;

            img {
                z-index: 2;
            }

            .banquet-frame {
                position: absolute;
                z-index: -1;
                top: 15px;
                left: 15px;
            }
        }

        @media (max-width: 1270px) {
            width: 48vw;
            padding-left: 15px;

            .banquet-main-image {
                img {
                    width: 330px;
                }
            }
        }

        @media (max-width: 1023px) {
            justify-content: center;
            padding-left: 0;
        }

        @media (max-width: 532px) {
            flex-direction: column;
            align-items: center;

            .banquet-main-image {
                img {
                    width: 300px;
                }
            }
        }

        @media (max-width: 424px) {
            .banquet-main-image {
                img {
                    width: 250px;
                }
            }
        }

        .banquet-lil-images {
            @media (max-width: 532px) {
                display: flex;
            }
            
            .banquet-lil-image {
                margin: 0 40px 6px;

                @media (max-width: 1270px) {
                    margin-left: 25%;

                    img {
                        width: 107px;
                    }
                }

                @media (max-width: 532px) {
                    margin: 20px 10px;
                    img {
                        width: 105px;
                    }
                }

                @media (max-width: 424px) {
                    margin: 20px 5px;
                    img {
                        width: 90px;
                    }
                }
            }
        }
    }

    .banquet-container--right {
        width: 480px;

        @media (max-width: 1270px) {
            width: 48vw;
        }

        @media (max-width: 1023px) {
            width: 614px;
        }

        @media (max-width: 767px) {
            width: 98%;
        }

        .banquet-text {
            text-align: start;

            p {
                font-size: 22px;
                font-weight: 400;
                margin-bottom: 31px;

                @media (max-width: 1270px) {
                    font-size: 20px;
                }

                @media (max-width: 650px) {
                    font-size: 16px;
                    margin-bottom: 5px;
                }

                @media (max-width: 350px) {
                    width: 98%;
                }
            }
        }

        .banquet-btn {
            text-align: end;
      
            .btn-booking {
              max-width: 278px;
              max-height: 53px;
              margin: auto;
              padding: 0;
              margin-top: 44px;
              border: none;
              font: inherit;
              color: inherit;
              background-color: transparent;
              cursor: pointer;

              img {
                  width: 100%;
              }
      
              @media (max-width: 1242px) {
                margin-top: 0;
                margin-bottom: 44px;
                width: 90%;
      
                img {
                  width: 100%;
                  height: 100%;
                }
              }
      
              @media (max-width: 1064px) {
                width: 291px;
              }
      
              @media (max-width: 905px) {
                width: 270px;
              }
      
              @media (max-width: 768px) {
                width: 230px;
              }

              @media (max-width: 650px) {
                margin: 15px 0;
              }
      
              @media (max-width: 631px) {
                width: 200px;
              }
            }
          }
    }
}