<div class="popup-dialog">
  <mat-dialog-actions>
    <button mat-dialog-close class="close-btn"></button>
  </mat-dialog-actions>
  <h2>Забронируйте столик в нашем ресторане</h2>
  <mat-dialog-content>
    <h3>Введите ваше имя</h3>

    <h3>Введите дату и время</h3>
    <mat-form-field appearance="fill">
      <mat-label>Введите дату</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h3>Ввдите ваш номер телефона</h3>

    <button>Забронировать столик</button>
    <p>С вами свяжется администратор для подтверждения брони</p>
  </mat-dialog-content>
</div>