<div class="popup-dialog">
  <mat-dialog-actions>
    <button mat-dialog-close class="close-btn"></button>
  </mat-dialog-actions>
  <h2>Забронируйте столик<br>в нашем ресторане</h2>
  <div class="title-frame">
    <img src="./assets/title-frame.png" alt="">
  </div>
  <form [formGroup]="bookingTableForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-name">
      <p>Введите ваше имя</p>
      <input type="text" formControlName="clientName" placeholder="имя" />
      <div class=""></div>
    </div>
    <div class="form-date-time" formGroupName="dateAndTime">
      <p>Выберите дату и время</p>
      <div class="form-date-time-container">
        <div class="form-date">
          <input type="date" formControlName="date">
        </div>
        <div class="form-time">
          <!-- <label>Time</label> -->
          <input type="time" formControlName="time" />
        </div>
      </div>
    </div>
    <div class="form-phone">
      <p>Введите ваш номер телефона</p>
      <input type="phone" formControlName="clientPhone" [imask]="{mask: '+{7}(000)000-00-00'}" [unmask]="true" placeholder="+7(***)***-**-**" />
      <div *ngIf="bookingTableForm.controls['clientPhone'].invalid && bookingTableForm.controls['clientPhone'].touched" class="phone-alert">
        Введите полный номер телефона
      </div>
    </div>
    <div class="btn-submit">
      <button class="btn-booking-submit" type="submit" (click)='checkSubmit()'>Забронировать столик</button>
      <div *ngIf='' class="submit-access">
        Отправлено
      </div>
    </div>
    <div class="span-submit"><span>С вами свяжется администратор для подтверждения брони</span></div>
  </form>
</div>