<div class="poster" id="poster">
    <div class="poster-container">
        <div class="poster-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><p>Афиша</p></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="poster-container--content">
            <div class="poster-info">
                <div class="poster-images">
                    <img src="./assets/poster-img-1.png" alt="">
                    <div class="poster-name">Название мероприятия</div>
                    <div class="poster-frame">
                        <img src="./assets/poster-frame.png" alt="">
                    </div>
                </div>
                <div class="poster-description">
                    <p>Описание</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laboriosam nulla amet possimus.</p>
                </div>
            </div>
            <div class="poster-info">
                <div class="poster-images">
                    <img src="./assets/poster-img-2.png" alt="">
                    <div class="poster-name">Название мероприятия</div>
                    <div class="poster-frame">
                        <img src="./assets/poster-frame.png" alt="">
                    </div>
                </div>
                <div class="poster-description">
                    <p>Описание</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laboriosam nulla amet possimus.</p>
                </div>
            </div>
            <div class="poster-info">
                <div class="poster-images">
                    <img src="./assets/poster-img-3.png" alt="">
                    <div class="poster-name">Название мероприятия</div>
                    <div class="poster-frame">
                        <img src="./assets/poster-frame.png" alt="">
                    </div>
                </div>
                <div class="poster-description">
                    <p>Описание</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laboriosam nulla amet possimus.</p>
                </div>
            </div>
        </div>
    </div>
</div>