<div class="menu" id="menu">
    <div class="menu-container">
        <div class="menu-container--header">
            <div><img src="./assets/headers-line.png" alt=""></div>
            <div><h2>Меню</h2></div>
            <div><img src="./assets/headers-line.png" alt=""></div>
        </div>
        <div class="menu-container--content">
            <div class="menu-container--left">
                <div class="menu-list">
                    <div class="menu-list-container">
                        <div class="menu-list-top">
                            <div value='Закуски' class='list-text'><a>Закуски</a></div>
                            <div value='Салаты' class='list-text'><a>Салаты</a></div>
                            <div value='Горячее' class='list-text'><a>Горячее</a></div>
                            <div value='Супы' class='list-text'><a>Супы</a></div>
                            <div value='Паста' class='list-text'><a>Паста</a></div>
                            <div value='Пицца' class='list-text'><a>Пицца</a></div>
                            <div value='Гарниры' class='list-text'><a>Гарниры</a></div>
                            <div value='Десерты' class='list-text'><a>Десерты</a></div>
                            <div value='Напитки' class='list-text'><a>Напитки</a></div>
                            <div value='Алкоголь' class='list-text'><a>Алкоголь</a></div>
                        </div>
                        <div class="menu-delivery">
                            <button class="btn-delivery">
                                Заказать доставку
                            </button>
                        </div>
                    </div>
                    <div class="menu-frame">
                        <img src="./assets/menu-frame.png" alt="">
                    </div>
                </div>
            </div>
            <div class="menu-container--right">
            </div>
        </div>
    </div>
</div>